<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SUGGESTION</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top">
        <h1 class="name">My SUGGESTION</h1>

        <form id="log" style="display: inline;" action="/" method="post">
            <input class="hov"  style="border: none;outline: none;background-color: #3A98B9;font-size: 25px;" type="submit" value="home">
        </form>

        <form id="reg" style="display: inline;" action="/login" method="post">
            <input class="hov"  style="border: none;outline: none;background-color: #3A98B9;font-size: 25px;" type="submit" value="Login">
        </form>

    </div>
    <div class="parent">
        <div class="child">
            <h1 style="margin: 20px;font-size: 40px;">Register</h1>
            <form action="/newuser" method="post">
                <input style="margin: 10px; width: 50%;height: 30px;font-size: 20px;" type="text"
                    placeholder="Enter the Username" name="uname"> <br>
                <input style="margin: 10px; width: 50%;height: 30px;font-size: 20px;" type="text"
                    placeholder="Enter the password" name="pass"> <br>
                <input class="hov"
                    style="margin: 10px; width: 50%;height: 30px;font-size: 20px;background-color: #2AA9D2;"
                    type="submit" value="register"> <br>
            </form>
        </div>
    </div>
    
</body>
</html>