*{
    margin: 0;
    
}
body{
    
    background-image: url('/images/wave-haikei.png');
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
   
    height: 100px;
    width: 100vw;
    justify-content: start;
   
}
.bottom{
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.name{
   color: #1F8A70;
   font-family: cursive;
    padding-top: 20px;
    padding-left: 20px;
}
#log{
    position: absolute;
    right: 120px;
    font-size: 20px;
    
}
#reg{
    position: absolute;
    right: 20px;
    font-size: 20px;
}


.hov:hover{
    cursor: pointer ;
    transform: scale(1.1);
    
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    

}
.child{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 300px;
    width: 40%;
    box-shadow: 10px 10px 10px 10px #aaa;
    background-color: white;
}
.con{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
    top: 10px;
   

}

.text{
    position: relative;
    margin: 50px;
    padding: 20px;
    

}
.container{
    display: flex;
    flex-direction: row;
    gap: 180px;

}
.imgs
{
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    
}
.postbut{
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
.god{
    display: flex;
    flex-direction: row;
    
}
.post {
    float: left;
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    margin-right: 10px;
   height: 600px;
    overflow-y: scroll;
    
    
}

.formdiv {
    float: right;
    width: 40%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    height: 100%;
   
}
.item{
    margin: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    width: auto;
    border-radius:10px ;
   
    background-color: #F4F6FF;
    border: 1px solid black;
}